@import "./variable";

// Display flex mixin
@mixin display-flex($direction, $justify-content, $align-items) {
	align-items: $align-items;
	display: flex;
	justify-content: $justify-content;
	flex-wrap: wrap;
	flex-direction: $direction;
}

// Media query mixin
@mixin media-query($device) {
	@media screen and (min-width: $device) {
		max-width: $desktop-content-max-width;
		padding: 2rem;
		margin: 0 auto;
		@content;
	}
}

// Primary Button
@mixin primary-button() {
	background-color: map-get($map: $colors, $key: "primary");
	border-radius: 2rem;
	color: map-get($map: $colors, $key: "white");
	padding: 0.44rem 1.87rem;
	font-size: 0.9375rem;
	font-weight: 500;
	text-decoration: none;
	cursor: pointer;
}
